{% extends 'base.html' %}

{% block content %}
    <h4>Форма для ввода номера телефона</h4>
	<form method="POST" class="mb-3">
		<div class="mb-3">
			<label class="form-label" for="tel">Введите нормер телефона</label>
			{# for class in bootstrap_class #}
				<input class="form-control {{ input_class }}" type="text" name="tel" id="tel" value="{{ request.form.tel }}">
				<div class="{{ div_class }}">
					<p>{{ message }}</p>
				</div>
			{# endfor #}
		</div>
		<button class="btn btn-primary">Проверить</button>
	</form>
	<!-- Вывод результата -->
    <div class="mb-3">
		<label class="form-label" for="result">Вывод результата проверки:</label>
		<p class="my-0">{{ message }} — {{ phone_number }}</p>
		<!-- <p class="my-0">{# bootstrap_class #}</p> -->
	</div>
{% endblock %}